attrs==21.2.0
certifi==2022.9.24
charset-normalizer==3.0.1
contourpy==1.0.7
cycler==0.11.0
efficient-apriori==2.0.1
enum34==1.1.10
fire==0.3.1
fonttools==4.38.0
idna==3.4
kiwisolver==1.4.4
matplotlib==3.6.3
numpy==1.24.1
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pyattck==5.3.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
requests==2.31.0
six==1.16.0
stix2==3.0.1
stix2-patterns==2.0.0
termcolor==2.2.0
urllib3==1.26.14
wincertstore==0.2
